<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%red(%d{HH:mm:ss.SSS Z, UTC}) %yellow([%t]) %highlight(%p) %yellow(%F:%L) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>cleverhause.log</File>
        <Append>true</Append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>Level:%level, DateTime:%date{yyyy-MM-dd HH:mm:ss.SSS}, Message:%msg, Stacktrace:%ex%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>cleverhause.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>64MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="ru.cleverhause.rest" level="DEBUG" />

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="main"/>
    </root>

</configuration>